@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.containerGrid{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background: rgb(18, 162, 162);
    background: linear-gradient(225deg, rgba(18, 162, 162, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.palavra1_1{
    height: auto;
    grid-column: 1/1;
    grid-row: 1/2;
}
.palavra1_2 {
    height: auto;
    grid-column: 1/1;
    grid-row: 2/3;
}
.palavra1_3 {
    height: auto;
    grid-column: 1/1;
    grid-row: 3/4;
}
.palavra1_4 {
    height: auto;
    grid-column: 1/1;
    grid-row: 4/5;
}
.palavra1_5 {
    height: auto;
    grid-column: 1/1;
    grid-row: 5/6;
}
.palavra1_6 {
    height: auto;
    grid-column: 1/1;
    grid-row: 6/7;
}
.palavra1_7 {
    height: auto;
    grid-column: 1/1;
    grid-row: 7/8;
}
.palavra1_8 {
    height: auto;
    grid-column: 1/1;
    grid-row: 8/9;
}
.palavra2_1 {
    height: auto;
    grid-column: 2/2;
    grid-row: 4/5;
}
.palavra2_2 {
    height: auto;
    grid-column: 3/3;
    grid-row: 4/5;
}
.palavra3_1 {
    height: auto;
    grid-column: 3/3;
    grid-row: 5/6;
}
.palavra3_2 {
    height: auto;
    grid-column: 3/3;
    grid-row: 6/7;
}
.palavra3_3 {
    height: auto;
    grid-column: 3/3;
    grid-row: 7/8;
}
.palavra3_4 {
    height: auto;
    grid-column: 3/3;
    grid-row: 8/9;
}
.palavra3_5 {
    height: auto;
    grid-column: 3/3;
    grid-row: 9/10;
}
.palavra3_6 {
    height: auto;
    grid-column: 3/3;
    grid-row: 10/11;
}
.palavra3_7 {
    height: auto;
    grid-column: 3/3;
    grid-row: 11/12;
}
.palavra3_8 {
    height: auto;
    grid-column: 3/3;
    grid-row: 12/13;
}
.palavra4_1 {
    height: auto;
    grid-column: 4/4;
    grid-row: 6/7;
}
.palavra4_2 {
    height: auto;
    grid-column: 5/5;
    grid-row: 6/7;
}
.palavra5_1 {
    height: auto;
    grid-column: 4/4;
    grid-row: 11/12;
}

.palavra5_2 {
    height: auto;
    grid-column: 5/5;
    grid-row: 11/12;
}
.palavra6_1{
    height: auto;
    grid-column: 2/2;
    grid-row: 12/13;
}
.palavra7_1 {
    height: auto;
    grid-column: 2/2;
    grid-row: 13/14;
}
.palavra7_2 {
    height: auto;
    grid-column: 2/2;
    grid-row: 14/15;
}
.palavra8_1 {
    height: auto;
    grid-column: 5/5;
    grid-row: 4/4;
}
.palavra8_2 {
    height: auto;
    grid-column: 5/5;
    grid-row: 5/5;
}

.palavra9_2 {
    height: auto;
    grid-column: 6/6;
    grid-row: 4/4;
}
.palavra9_3 {
    height: auto;
    grid-column: 7/7;
    grid-row: 4/4;
}
.palavra9_4 {
    height: auto;
    grid-column: 8/8;
    grid-row: 4/4;
}
.palavra9_5 {
    height: auto;
    grid-column: 9/9;
    grid-row: 4/4;
}
.palavra9_6 {
    height: auto;
    grid-column: 10/10;
    grid-row: 4/4;
}
.palavra9_7 {
    height: auto;
    grid-column: 11/11;
    grid-row: 4/4;
}
.palavra9_8 {
    height: auto;
    grid-column: 12/12;
    grid-row: 4/4;
}
.palavra9_9 {
    height: auto;
    grid-column: 13/13;
    grid-row: 4/4;
}
.palavra9_10 {
    height: auto;
    grid-column: 14/14;
    grid-row: 4/4;
}
.palavra9_11 {
    height: auto;
    grid-column: 15/15;
    grid-row: 4/4;
}
.palavra9_12 {
    height: auto;
    grid-column: 16/16;
    grid-row: 4/4;
}
.palavra9_13 {
    height: auto;
    grid-column: 17/17;
    grid-row: 4/4;
}
.palavra10_1 {
    height: auto;
    grid-column: 8/8;
    grid-row: 5/5;
}
.palavra11_1 {
    height: auto;
    grid-column: 16/16;
    grid-row: 3/3;
}
.palavra11_2 {
    height: auto;
    grid-column: 16/16;
    grid-row: 5/5;
}
.palavra11_3 {
    height: auto;
    grid-column: 16/16;
    grid-row: 6/6;
}
.palavra11_4 {
    height: auto;
    grid-column: 16/16;
    grid-row: 7/7;
}
.palavra11_5 {
    height: auto;
    grid-column: 16/16;
    grid-row: 8/8;
}
.palavra11_6 {
    height: auto;
    grid-column: 16/16;
    grid-row: 9/9;
}
.palavra11_7 {
    height: auto;
    grid-column: 16/16;
    grid-row: 10/10;
}
.palavra11_8 {
    height: auto;
    grid-column: 16/16;
    grid-row: 11/11;
}
.palavra11_9 {
    height: auto;
    grid-column: 16/16;
    grid-row: 12/12;
}
.palavra11_10 {
    height: auto;
    grid-column: 16/16;
    grid-row: 13/13;
}
.palavra11_11 {
    height: auto;
    grid-column: 16/16;
    grid-row: 14/14;
}
.palavra11_12 {
    height: auto;
    grid-column: 16/16;
    grid-row: 15/15;
}
.palavra11_13 {
    height: auto;
    grid-column: 16/16;
    grid-row: 16/16;
}
.palavra12_1 {
    height: auto;
    grid-column: 17/17;
    grid-row: 8/8;
}
.palavra13_1 {
    height: auto;
    grid-column: 5/5;
    grid-row: 10/10;
}
.palavra13_2 {
    height: auto;
    grid-column: 5/5;
    grid-row: 12/12;
}
.palavra13_3 {
    height: auto;
    grid-column: 5/5;
    grid-row: 13/13;
}
.palavra13_4 {
    height: auto;
    grid-column: 5/5;
    grid-row: 14/14;
}
.palavra13_5 {
    height: auto;
    grid-column: 5/5;
    grid-row: 15/15;
}
.palavra13_6 {
    height: auto;
    grid-column: 5/5;
    grid-row: 16/16;
}
.palavra14_1 {
    height: auto;
    grid-column: 4/4;
    grid-row: 13/13;
}
.palavra14_2 {
    height: auto;
    grid-column: 6/6;
    grid-row: 13/13;
}
.palavra14_3 {
    height: auto;
    grid-column: 7/7;
    grid-row: 13/13;
}
.palavra14_4 {
    height: auto;
    grid-column: 8/8;
    grid-row: 13/13;
}
.padrao_input{
    height: 1.6vw;
    width: 1.6vw;
    text-align: center;
}
.palavra15_1 {
    height: auto;
    grid-column: 2/2;
    grid-row: 16/16;
}
.palavra15_2 {
    height: auto;
    grid-column: 3/3;
    grid-row: 16/16;
}
.palavra15_3 {
    height: auto;
    grid-column: 4/4;
    grid-row: 16/16;
}
.palavra15_4 {
    height: auto;
    grid-column: 6/6;
    grid-row: 16/16;
}
.palavra16_1 {
    height: auto;
    grid-column: 6/6;
    grid-row: 10/10;
}
.palavra16_2 {
    height: auto;
    grid-column: 7/7;
    grid-row: 10/10;
}
.palavra16_3 {
    height: auto;
    grid-column: 8/8;
    grid-row: 10/10;
}
.palavra16_4 {
    height: auto;
    grid-column: 9/9;
    grid-row: 10/10;
}
.palavra16_5 {
    height: auto;
    grid-column: 10/10;
    grid-row: 10/10;
}
.palavra16_6 {
    height: auto;
    grid-column: 11/11;
    grid-row: 10/10;
}
.palavra16_7 {
    height: auto;
    grid-column: 12/12;
    grid-row: 10/10;
}
.palavra17_1 {
    height: auto;
    grid-column: 10/10;
    grid-row: 7/7;
}
.palavra17_2 {
    height: auto;
    grid-column: 10/10;
    grid-row: 8/8;
}
.palavra17_3 {
    height: auto;
    grid-column: 10/10;
    grid-row: 9/9;
}
.palavra17_4 {
    height: auto;
    grid-column: 10/10;
    grid-row: 11/11;
}
.palavra18_1 {
    height: auto;
    grid-column: 7/7;
    grid-row: 7/7;
}
.palavra18_2 {
    height: auto;
    grid-column: 8/8;
    grid-row: 7/7;
}
.palavra18_3 {
    height: auto;
    grid-column: 9/9;
    grid-row: 7/7;
}
.palavra18_4 {
    height: auto;
    grid-column: 11/11;
    grid-row: 7/7;
}
.palavra18_5 {
    height: auto;
    grid-column: 12/12;
    grid-row: 7/7;
}
.palavra18_6 {
    height: auto;
    grid-column: 13/13;
    grid-row: 7/7;
}
.containerPalavra{
    display:grid;
    width: 40vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        
        grid-template-columns: 
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw;
        grid-template-rows:
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw
            1.6vw;

            
        
        
        
}
.container-descr{
    width: 40vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        border: 3px solid rgb(18, 162, 162);
        border-radius: 1.6vw;
        align-items: center;
        justify-content: center;

}

.cont-text{
    width: 35vw;
    height: 60vh;
    display: flex;
    
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8vw;
    text-align:start;
    color: #fff;
}
.cont-text p{
    margin-bottom: 3px;
}
.button{
    width: 12vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-top: 10vh;
    
}
